<!DOCTYPE html>
<html ng-controller="Todo as $ctrl">
<head>
    <meta charset="utf-8">
    <title ng-bind-template="{{$ctrl.todo.user}}'s TO DO List"></title>
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/ng-cloak.css" rel="stylesheet">
</head>
<body ng-cloak>
    <div class="container">

        <page-header></page-header>

        <div class="panel">
            <form novalidate name="newTask">
                <div class="form-group">
                    <label for="action">Action:</label>
                    <div class="input-group">
                        <input id="action" name="action" class="form-control" ng-model="$ctrl.newItem.action" />
                        
                        <span class="input-group-btn">
                            <button class="btn btn-primary" 
                                    ng-disabled="!$ctrl.newItem.action"
                                    ng-click="$ctrl.addNewItem($ctrl.todo.items, $ctrl.newItem)">Add</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> To Do List
            </div>
            
            <div class="panel-body">

                <todo-list></todo-list>

                <label>
                    <input type="checkbox" ng-model="$ctrl.showComplete">Show Complete
                    <button class="btn btn-danger"
                            ng-click="$ctrl.removeCompletedItems($ctrl.todo.items)">Remove all completed</button>
                </label>
            </div>

            <div class="panel-footer">

                <edit-task></edit-task>

            </div>
        </div>
    </div>

    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="app.js"></script>

    <script src="components/common/filters/common-filters.module.js"></script>
    <script src="components/common/filters/checked-items.filter.js"></script>

    <script src="components/common/services/common-services.module.js"></script>
    <script src="components/common/services/todo.service.js"></script>
    
    <script src="components/common/directives/edit-task.directive.js"></script>

    <script src="components/common/common.module.js"></script>

    <script src="components/page-header/page-header.directive.js"></script>
    <script src="components/todo-list/todo-list.directive.js"></script>
</body>
</html>